<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <pre id="div-message">
                </pre>
                <div class="title">مشفى سكن التخصصي</div>
                <div class="booking-form">
                    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter your full name"
                                formControlName="fullName">
                            <span class="form-label">Full Name</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="tel" placeholder="Enter your phone number"
                                formControlName="phoneNumber">
                            <span class="form-label">Phone Number</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="date" formControlName="dateOfBirth">
                            <span class="form-label">Date of Birth</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control select-gender" formControlName="gender">
                                <option value="" selected hidden>Select Gender</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                            <span class="select-arrow"></span>
                            <span class="form-label">Gender</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control select-clinic" formControlName="clinicId">
                                <option value="" selected hidden>Select Clinic</option>
                                <option *ngFor="let clinic of clinics" [value]="clinic.clinicId">{{ clinic.name }}
                                </option>
                            </select>
                            <span class="select-arrow"></span>
                            <span class="form-label">Clinic</span>
                        </div>

                        <div>
                            <button [disabled]="bookingForm.invalid || !reservationStatus" class="submit-btn" type="submit">Ok</button>
                
                        </div>
                    </form>
                </div>
            </div>
            <span class="mySpan">Developed by Abdullah Jebiro && Team ASA</span>
        </div>
    </div>
</div>