<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body [formGroup]="patientForm">

        <label *ngIf="isEditing" for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName"  formControlName="firstName" nbInput fullWidth
          placeholder="First Name" [ngClass]="{ 'is-invalid': patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched }" />

        <label *ngIf="isEditing" for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" nbInput fullWidth
          placeholder="Last Name" [ngClass]="{ 'is-invalid': patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched }" />

        <label *ngIf="isEditing" for="region">Region</label>
        <input type="text" id="region" name="region" formControlName="region" nbInput fullWidth
          placeholder="Region" [ngClass]="{ 'is-invalid': patientForm.get('region')?.invalid && patientForm.get('region')?.touched}" />

        <div class="row row-cols-2">
          <div class="col">
            <label *ngIf="isEditing" for="dateOfBirth">Birth Date</label>
            <div class="date-input-container">
              <input id="dateOfBirth" formControlName="dateOfBirth" placeholder="Birth Date" [nbDatepicker]="datepicker"
                [ngClass]="{ 'is-invalid': patientForm.get('dateOfBirth')?.invalid && patientForm.get('dateOfBirth')?.touched}" />
              <nb-datepicker #datepicker></nb-datepicker>
            </div>
          </div>

          <div class="col" fullWidth>
            <label *ngIf="isEditing" for="gender">Gender</label>
            <nb-select placeholder="Selected gender" class="position-select"  formControlName="gender"
              [ngClass]="{ 'is-invalid': patientForm.get('gender')?.invalid && patientForm.get('gender')?.touched }">
              <nb-option *ngFor="let gender of selectGender" [value]="gender.value">{{ gender.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="button-container">
          <button class="btn btn-primary" [disabled]="patientForm.invalid" (click)="onSubmit()">
            <nb-icon icon="save-outline"></nb-icon> Save
          </button>
          <button class="btn btn-danger" (click)="closeForm()">
            <nb-icon icon="close-outline"></nb-icon> Close
          </button>
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>
