<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="form-flex">
      <div class="top-part">
        <div class="top-part-leftScetion">
          <label class="label">Position:</label>
          <div class="form-group">
            <nb-select placeholder="Selected Clinic"
              (selectedChange)="selectedClinic($event)" [fullWidth]="500" shape="semi-round" class="position-select"
              status="primary" [(selected)]="selectedOption">
              <nb-option *ngFor="let clinic of clinics" [value]="clinic">{{ clinic.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="calendar-container">
        <span class="subtitle">
          Selected range: {{ range.start | date }} - {{ range.end | date }}
        </span>
        <nb-card size="large">
          <nb-card-body>
            <input nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker" />
            <nb-rangepicker (rangeChange)="onEventStartEndRange($event)" #eventPicker [(range)]="range" [boundingMonth]="false" #formpicker></nb-rangepicker>
          </nb-card-body>
        </nb-card>
      </div>
      <div>
        <button class="btn-search btn btn-outline-info p-3 my-2 rounded-5 d-block" (click)="ApplayFliter()" style="width: 100%"
          [disabled]="searchForm.invalid" type="submit">
          Search
        </button>
        <button class=" btn btn-outline-secondary p-3 my-2 rounded-5 d-block" (click)="clearfilter()"  style="width: 100%"
        [disabled]="!isApplayFilter">
        Clear Filter
      </button>
      </div>
    </div>
  </form>
</div>