<div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="form-flex">
        <div class="form-group">
            <label class="label">Position:</label>
            <nb-select [(selected)]="clinic" class="position-select">
              <nb-option *ngFor="let p of clinic" [value]="p">{{ p }}</nb-option>
            </nb-select>
          </div>
          <div class="calendar-container">
            <span class="subtitle">
              Selected range: {{ range.start | date }} - {{ range.end | date }}
            </span>
            <nb-calendar-range [(range)]="range"></nb-calendar-range>
          </div>
      </div>
      <button [disabled]="searchForm.invalid" type="submit">Search</button>
    </form>
  </div>
  