<div class="patient-search-container">
    <form [formGroup]="searchForm" (ngSubmit)="searchPatients()">
        <div class="form-flex">
            <div class="input-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': searchForm.get('firstName')?.invalid && searchForm.get('firstName')?.touched }" />
                <div *ngIf="searchForm.get('firstName')?.invalid && searchForm.get('firstName')?.touched"
                    class="invalid-feedback">
                    Please enter a valid first name.
                </div>
            </div>
            <div class="input-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': searchForm.get('lastName')?.invalid && searchForm.get('lastName')?.touched }" />
                <div *ngIf="searchForm.get('lastName')?.invalid && searchForm.get('lastName')?.touched"
                    class="invalid-feedback">
                    Please enter a valid last name.
                </div>
            </div>
            <div class="input-group">
                <label for="region">Region:</label>
                <input type="text" id="region" name="region" formControlName="region"
                    [ngClass]="{ 'is-invalid': searchForm.get('region')?.invalid && searchForm.get('region')?.touched }" />
            </div>
            <div class="input-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" formControlName="gender"
                    [ngClass]="{ 'is-invalid': searchForm.get('gender')?.invalid && searchForm.get('gender')?.touched }">
                    <option value="Unknown">Unknown</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

            </div>
            <div class="input-group">
                <input id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
                    [nbDatepicker]="datepicker">
                <nb-datepicker #datepicker></nb-datepicker>
            </div>
        </div>
        <button [disabled]="searchForm.invalid" type="submit">Search</button>
    </form>
</div>