<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body class="centered-flex-container" [formGroup]="searchForm" (ngSubmit)="searchPatients()">
        <div>
          <input type="text" id="firstName" name="firstName" formControlName="firstName" nbInput
                 [ngxAppFocus]="isFocused" (focus)="onfocus()" (blur)="onBlur()" placeholder="First Name" />
        </div>

        <div>
          <input type="text" id="lastName" name="lastName" formControlName="lastName" nbInput placeholder="Last Name" />
        </div>

        <div>
          <input type="text" id="region" name="region" formControlName="region" nbInput placeholder="Region" />
        </div>

        <div>
          <div class="col">
            <input id="dateOfBirth" formControlName="dateOfBirth" placeholder="Birth Date" [nbDatepicker]="datepicker" />
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
        </div>

        <div>
          <div class="col">
            <nb-select placeholder="Selected gender" class="position-select" formControlName="gender">
              <nb-option *ngFor="let gender of selectGender" [value]="gender.value">{{ gender.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
